DATABASE_URL="postgresql://repondly_user:RepondlyAdmin2026@127.0.0.1:5433/repondly"
NEXTAUTH_SECRET="XGMqFkUXe42mFt0H1Iq+EiirvUT3VocVY1ut2DjgK6M="
NEXTAUTH_URL="https://admin.repondly.com"

AUTH_TRUST_HOST=true
ADMIN_EMAIL="admin@repondly.com"
NEXT_PUBLIC_ADMIN_EMAIL="admin@repondly.com"
INTERNAL_SECRET="repondly-internal-secret-2026"
